<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MEAN</title>
  <meta name="description" content="My MEAN app">
  <meta name="author" content="">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    
    
    
    <div ng-app="restaurants" ng-controller="MainCtrl as m">
      <ul>
        <li ng-repeat="item in m.restaurantList">
          <span ng-if="item.type === 'Indian'">
            {{item.name}} serves {{item.type}}
          </span>
          <span ng-if="item.type === 'Salad'">
            {{item.name}} serves salad
          </span>
          </li>
      </ul>
    </div>
    <script src="libs/angular/angular.min.js"></script>
    <script src="assets/js/ngapp.js"></script>
    <script src="assets/js/controllers/MainCtrl.js"></script>
    <script src="assets/js/services/RestaurantFactory.js"></script>
</body>
</html>